.ant-table-wrapper .ant-table {
    font-size: 8px;
    font-weight: bold;
    border-radius: 0;
}

/* Thêm border 1px cho toàn bộ bảng */
.ant-table {
    border: 1px solid #000;

}


.ant-table-tbody>tr>td {
    border: 1px solid #000;

}

.ant-table-thead>tr>th {
    /* border: 1px solid #000; */
}

.ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container {
    border-inline-start: 0px;
    border-top: 0px;
}

/* .rowl {
    font-size: 20px;
    font-weight: bold;
    color: blue;
} */

.yellow-background,
.green-background,
.red-background,
.white-background {
    width: 100%;
    /* Chiếm hết chiều rộng ô */
    height: 100%;
    /* Chiếm hết chiều cao ô */
    display: flex;
    /* Sử dụng Flexbox để căn giữa */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    padding: 6px;
    /* Padding cho nội dung */
    box-sizing: border-box;
    /* Đảm bảo padding không làm ảnh hưởng đến kích thước */
}

.green-background {
    background-color: #3ca63cc4;
    color: white;
}

.yellow-background {
    background-color: #fcff4dc4;
    color: black;
}

.red-background {
    background-color: #f96c6ccc;
    color: white;
}

.white-background {
    background-color: white;
    color: black;
}


.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.8);
    /* Điều chỉnh màu và opacity của lớp phủ */
}

#root {
    background-color: #f0f0f0;
}

.Layout_Kho {
    display: flex;
    width: '100%';
}



.layoutkho {
    font-size: 2px;
}

.Layout_Kho .ant-table .ant-table-cell {
    padding: 6px 0;
}

@keyframes blink-glow {
    0% {
        outline: 2px solid blue;
        /* box-shadow: 0 0 5px blue; */
    }

    50% {
        outline: 2px solid rgba(0, 0, 255, 0.5);
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    }

    100% {
        outline: 2px solid blue;
        /* box-shadow: 0 0 5px blue; */
    }
}

.blink-glow {
    /* animation: blink-glow 1s ease-in-out infinite; */
    outline: 2px solid blue;
}


.ant-modal .ant-table {
    border: 0px;

}


.ant-modal .ant-table-tbody>tr>td {
    border: 0px;
    font-size: 14px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* height: 200px; */
    /* Chiều cao toàn bộ layout */
    /* width: 100%; */
    /* Chiều dài mũi tên phủ toàn bộ chiều ngang */
    /* background-color: #f4f4f4; */
    /* Màu nền */
}

.container_ {
    /* display: fle; */
    /* align-items: center; */
    justify-content: center;
    /* position: relative; */
    /* height: 200px; */
    /* Chiều cao toàn bộ layout */
    /* width: 100%; */
    /* Chiều dài mũi tên phủ toàn bộ chiều ngang */
    /* background-color: #f4f4f4; */
    /* Màu nền */
}

.arrow-body {
    width: 100px;
    /* Chiều dài thân mũi tên */
    height: 20px;
    /* Độ dày thân mũi tên */
    background-color: #007bff;
    /* Màu của mũi tên */
}

.arrow-body_ {
    width: 20px;
    /* Chiều dài thân mũi tên */
    height: 100px;
    /* Độ dày thân mũi tên */
    background-color: #007bff;
    /* Màu của mũi tên */
}

.arrow-head-r {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    /* Định hình tam giác */
    border-color: transparent transparent transparent #007bff;
    /* Màu của đầu mũi tên */
}

.arrow-head-l {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: transparent #007bff transparent transparent;

}

.arrow-head-u {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: transparent transparent #007bff transparent;

}

.arrow-head-d {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: #007bff transparent transparent transparent;

}