.Layout_Kho .ant-table-wrapper .ant-table {
    font-size: 8px;
    font-weight: bold;
    border-radius: 0;
}

/* Thêm border 1px cho toàn bộ bảng */
.Layout_Kho .ant-table {
    border: 1px solid #000;
}


.Layout_Kho .ant-table-tbody>tr>td {
    border: 1px solid #000;
}

.ant-table-bordered .ant-table-container {
    border: 1px solid black;
}

.N1 .ant-table-thead>tr>th {
    border: 1px solid #000;
}

.N1 .ant-table {
    border: 0px solid #000;
}

.ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container {
    border-inline-start: 0px;
    border-top: 0px;
}

/* .rowl {
    font-size: 20px;
    font-weight: bold;
    color: blue;
} */

.yellow-background,
.green-background,
.red-background,
.white-background {
    width: 100%;
    /* Chiếm hết chiều rộng ô */
    height: 100%;
    /* Chiếm hết chiều cao ô */
    display: flex;
    /* Sử dụng Flexbox để căn giữa */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    padding: 6px;
    /* Padding cho nội dung */
    box-sizing: border-box;
    /* Đảm bảo padding không làm ảnh hưởng đến kích thước */
}

.N1 .yellow-background,
.N1 .green-background,
.N1 .red-background,
.N1 .white-background {
    width: 100%;
    /* Chiếm hết chiều rộng ô */
    height: 100%;
    /* Chiếm hết chiều cao ô */
    display: flex;
    /* Sử dụng Flexbox để căn giữa */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    padding: 2px;
    /* Padding cho nội dung */
    box-sizing: border-box;
    /* Đảm bảo padding không làm ảnh hưởng đến kích thước */
}

.green-background {
    background-color: #3ca63cc4;
    color: white;
}

.yellow-background {
    background-color: #fcff4dc4;
    color: black;
}

.red-background {
    background-color: #f96c6ccc;
    color: white;
}

.white-background {
    background-color: white;
    color: black;
}


.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.8);
    /* Điều chỉnh màu và opacity của lớp phủ */
}

#root {
    background-color: #f0f0f0;
}

.Layout_Kho {
    display: flex;
    width: '100%';
}



.layoutkho {
    font-size: 2px;
}

.Layout_Kho .ant-table .ant-table-cell {
    padding: 6px 0;
}


.N1 .ant-table .ant-table-cell {
    padding: 1px 10px;
    width: 100px;
}

@keyframes blink-glow {
    0% {
        outline: 2px solid blue;
        /* box-shadow: 0 0 5px blue; */
    }

    50% {
        outline: 2px solid rgba(0, 0, 255, 0.5);
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    }

    100% {
        outline: 2px solid blue;
        /* box-shadow: 0 0 5px blue; */
    }
}

.blink-glow {
    /* animation: blink-glow 1s ease-in-out infinite; */
    outline: 2px solid blue;
}


.ant-modal .ant-table {
    border: 0px;

}


.ant-modal .ant-table-tbody>tr>td {
    border: 0px;
    font-size: 14px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_ {
    justify-content: center;

}

.arrow-body {
    width: 100px;
    /* Chiều dài thân mũi tên */
    height: 16px;
    /* Độ dày thân mũi tên */
    background-color: yellow;
    /* Màu của mũi tên */
}

.arrow-body_ {
    width: 16px;
    /* Chiều dài thân mũi tên */
    height: 100px;
    /* Độ dày thân mũi tên */
    background-color: yellow;
    /* Màu của mũi tên */
}

.arrow-head-r {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    /* Định hình tam giác */
    border-color: transparent transparent transparent yellow;
    /* Màu của đầu mũi tên */
}

.arrow-head-l {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: transparent yellow transparent transparent;

}

.arrow-head-u {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: transparent transparent yellow transparent;

}

.arrow-head-d {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    border-color: yellow transparent transparent transparent;

}

.criclebox .ant-card-body {
    padding: 0;
}

.red-text {
    color: red;
    /* Đổi màu chữ thành đỏ */
}

.yellow-text {
    color: #faad14;
    /* Đổi màu chữ thành vàng */
}

.N1 .arrow-body {
    width: 50px;
    /* Chiều dài thân mũi tên */
    height: 8px;
    /* Độ dày thân mũi tên */
    background-color: yellow;
    /* Màu của mũi tên */
}

.N1 .arrow-body_ {
    width: 8px;
    /* Chiều dài thân mũi tên */
    height: 50px;
    /* Độ dày thân mũi tên */
    background-color: yellow;
    /* Màu của mũi tên */
}

.N1 .arrow-head-r {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    /* Định hình tam giác */
    border-color: transparent transparent transparent yellow;
    /* Màu của đầu mũi tên */
}

.N1 .arrow-head-l {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent yellow transparent transparent;

}

.N1 .arrow-head-u {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent yellow transparent;

}

.N1 .arrow-head-d {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: yellow transparent transparent transparent;

}


.ant-table-filter-dropdown {
    width: 250px;
    /* Đặt chiều rộng cố định */
    min-height: 100px;
    /* Đặt chiều cao tối thiểu */
}

.ant-table-filter-dropdown .ant-select {
    width: 100%;
    /* Đảm bảo dropdown select chiếm hết chiều rộng */
}

.education,
.work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 40px;
}

#resume h1 {
    font: 18px / 24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#resume h1 span {
    border-bottom: 3px solid #0762f9;
    padding-bottom: 6px;
}

.hover-container {
    box-shadow: 0 4px 15px rgba(255, 73, 187, 0.2);
    /* Bóng đổ mờ ban đầu */
}

.hover-container:hover {
    transform: scale(1.1);
    /* Phóng to khi hover */
    box-shadow: 0 4px 15px rgba(255, 73, 187, 0.7);
    /* Bóng đổ khi hover */
}

/* Chỉ áp dụng cho dropdown có class .custom-dropdown */
.custom-dropdown {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hiệu ứng hover và chọn item trong custom dropdown */
.custom-dropdown .ant-dropdown-menu-item:hover {
    background-color: #e6f7ff;
    color: #1890ff;
}

.custom-dropdown .ant-dropdown-menu-item-active {
    background-color: #bae7ff;
    color: #096dd9;
}